{% extends 'layout.html' %}
{% block title %}Editar Surco{% endblock %}
{% block body %}

<style>
    .card {
        background-color: #A8E6CF;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #4C7A61;
        color: white;
    }
    .btn-primary {
        background-color: #4C7A61;
        border: none;
    }
    .btn-primary:hover {
        background-color: #3A6950;
    }
    label {
        color: #5D4037;
    }
</style>

<div class="col-md-6 offset-md-3">
    <div class="card mb-3">
        <div class="card-header text-center"><h2>Editar Surco</h2></div>
        <div class="card-body">
            <form action="/update_surco/{{ surco.0 }}" method="POST">
                <div class="form-group">
                    <label for="capMax">Capacidad Máxima:</label>
                    <input class="form-control" type="number" id="capMax" name="capMax" placeholder="Capacidad Máxima" value="{{ surco.1 }}" required>
                </div>

                <div class="form-group">
                    <label for="agavesPlantados">Agaves Plantados:</label>
                    <input class="form-control" type="number" id="agavesPlantados" name="agavesPlantados" placeholder="Agaves Plantados" value="{{ surco.2 }}" required>
                </div>
                
                <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
