{% extends 'layout.html' %}

{% block body %}

<div class="container border border-white" style="height: 25rem;">
    <div class="row align-items-center">
        <div class="col border border-white">
            <div class="btn btn-secondary btn-lg">q pedo</div>
        </div>
        <div class="col border border-white">
            text
        </div>
        <div class="col border border-white">
            text
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col border border-white">
            <div class="btn btn-secondary btn-lg">q pedo</div>
        </div>
        <div class="col border border-white">
            text
        </div>
        <div class="col border border-white">
            text
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col border border-white">
            <div class="btn btn-secondary btn-lg">q pedo</div>
        </div>
        <div class="col border border-white">
            text
        </div>
        <div class="col border border-white">
            text
        </div>
    </div>
</div>

{% endblock%}